.performance {
  width: 100%;
  height: 100vh;
  background-color: #0f0f1c;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .a {
    display: none;
  }

  .text {
    color: #fefefe;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

    h1 {
      border-left: 0px solid transparent;
      padding: 0 1rem;
    }
  }
  .box-performance {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;


    .box {
      margin-top: 10rem;
      width: 300px;
      height: 350px;
      background-color: #343434;
      border-radius: 10px;
      transition: 0.25s ease-in-out;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0.5rem;
      border: 1px solid #909090;
      box-shadow: 1px 1px 6px rgb(255, 255, 255);

      gap: 0.75rem;

      .image {
        width: 100%;
        height: 50%;
        border-radius: 10px;
        border: 1px solid #909090;

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
      .performance-name {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }
      .performance-description {
        width: 100%;
        font-size: 14px;
        color: #d8d8d8;
        padding: 0 0.5rem;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      .performance-framework {
        text-align: start;
        font-size: 14px;
        color: rgb(243, 171, 84);
        padding: 0 0.5rem;

        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      .performance-link {
        border-top: 2px solid #fff;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: end;
        align-items: start;
        color: #333;
        padding: 1rem;

        .icon {
          color: #d8d8d8;
          font-size: 23px;
          transition: 0.25s ease-in-out;
        }
        .icon:hover {
          color: rgb(243, 171, 84);
        }
      }
    }
    .box:hover {
      cursor: pointer;
      background-color: transparent;
    }
  }
}

@media (max-width: 480px) {
  .performance {
    display: flex;
    height: auto;
    flex-direction: column;
    padding-top: 2rem;

    .a {
      width: 100%;
      height: 10vh;
      display: block;
      text-align: end;
      padding-right: 1rem;
      

      h2 {
        
        color: #fefefe;
        font-size: 22px;
        text-transform: uppercase;
        border-right: 5px solid rgb(243, 171, 84);
        padding-right: 0.5rem;
      }
    }

    .text {
      display: none;

      h1 {
        border-left: 0px solid transparent;
        padding: 0 1rem;
      }
    }
    .box-performance {
      width: 100%;
      gap: 1rem;
      padding: 1rem;
      flex-direction: column;

      .box {
        margin-top: 0;
        width: 100%;
        height: 300px;
        border-radius: 5px;
        padding: 0.5rem;
        box-shadow: none;
        gap: 0.75rem;
        background: transparent;

        .image {
          border-radius: 5px;

          img {
            border-radius: 5px;
          }
        }

        .performance-name {
          width: 100%;
          font-size: 15px;
        }
        .performance-description,
        .performance-framework {
          font-size: 14px;
          font-family: sans-serif;
        }
        .performance-link {
          border-top: 1px solid #fff;
          height: 10px;

          .icon {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 1020px) and (min-width: 768px) {
  .performance {
    display: flex;
    height: auto;
    flex-direction: column;
    padding-top: 2rem;
    padding: 4rem;

    .a {
      width: 100%;
      height: 10vh;
      display: block;
      text-align: end;
      padding-right: 1rem;
      

      h2 {
        
        color: #fefefe;
        font-size: 22px;
        text-transform: uppercase;
        border-right: 5px solid rgb(243, 171, 84);
        padding-right: 0.5rem;
      }
    }

    .text {
      display: none;

      h1 {
        border-left: 0px solid transparent;
        padding: 0 1rem;
      }
    }
    .box-performance {
      width: 100%;
      gap: 1rem;
      padding: 1rem;
      flex-direction: column;
      gap: 2rem;

      .box {
        margin-top: 0;
        width: 100%;
        height:auto;
        border-radius: 5px;
        box-shadow: none;
        gap: 0.75rem;
        background: transparent;

        .image {
          border-radius: 5px;

          img {
            border-radius: 5px;
          }
        }

        .performance-name {
          width: 100%;
          font-size: 15px;
        }
        .performance-description,
        .performance-framework {
          font-size: 14px;
          font-family: sans-serif;
        }
        .performance-link {
          border-top: 1px solid #fff;
          height: 10px;

          .icon {
            display: none;
          }
        }
      }
    }
  }
}